.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}

.singlePostImg {
  width: 100%;
  height: 600px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom:30px
}

.singlePostTitle {
  text-align: center;
  margin: 10px 10px 40px 10px;
  font-family: 'Lora', serif;
  font-size: 28px;
}

.singlePostTitleInput {
  margin: 10px;
  font-family: 'Lora', serif;
  font-size: 28px;
  text-align: center;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
  outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
  
}

.singlePostIcon i {
  display: inline-block;
  margin-right: 1em;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  /* color: red; */
}

.singlePostInfo {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  color: #8b5555
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 1.6;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.singlePostDescInput {
  /* border: none; */
  border: 1px solid grey;
  border-radius: 5px;
  color: #666;
  font-size: 18px;
  line-height: 25px;
  height: 300px
}

.singlePostDescInput:focus {
  outline: none;
}
.singlePostButton {
  width: 200px;
  border: none;
  background-color: #65cbcb;
  padding: 10px ;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin: 20px auto;
  
}

